/*general*/
:root {
    --pink: #f9ece8;
    --color: #E35B63;
    --brown: #7f6363;
    --grey: rgb(172, 169, 169);
    --bigger_text: "DynaPuff", system-ui;
    --small_text: "Sour Gummy", sans-serif;
    --shadow: 2px 2px 5px var(--grey);
}

body {
    background-color: var(--pink);
    font-family: var(--small_text);
    overflow-x: hidden;
    overflow-y: scroll;
}

:is(h1, h2, h3, h4, h5, h6) {
    font-family: var(--bigger_text);
    text-shadow: 1px 1px 3px var(--grey);
}

footer {
    background-color: var(--color);
    color: var(--pink);
    width: 100%;
    overflow: hidden;
    position: relative;
    box-shadow: var(--shadow);
}

:where(a.home, a.missing_animals, a.form, a.Tips) {
    text-decoration: none;
    display: flex;
    color: var(--pink);
    gap: 2rem;
    margin-top: 12px;
}

nav {
    display: grid;
    grid-template-columns: 65% 5% 10% 5% 5%;
    width: 100%;
    gap: 1rem;
    box-shadow: 3px 3px 6px var(--grey);
    background-color: var(--color);

}

.header {
    width: 4rem;
    height: 4rem;
}

.our_partner {
    box-sizing: border-box;
    width: 10%;
    height: 100px;
}

.our_partners {
    display: flex;
    justify-content: space-evenly;
}

table {
    border: 2px solid black;
    width: 100vw;
    background-color: white;
    box-shadow: var(--shadow);
}

table:hover {
    background-color: var(--color);
    color: var(--pink);
}

::selection {
    background-color: var(--brown);
    color: var(--pink);
}

/*Home page*/
video {
    width: 100%;
    box-shadow: var(--shadow);
    position: relative;
}

.About_Wajd {
    display: flex;
    justify-content: space-between;
}

.about_p,
.info {
    width: 80%;
}

.home_table {
    display: flex;
    justify-content: space-between;
}

::marker {
    color: var(--color);
    font-size: larger;
}

/*Missing animals page*/
:where(img.cat, img.dog, img.Turtle, img.Rabbit) {
    width: 100%;
    box-shadow: 3px 3px 7px black;
}

button:hover {
    background-color: rgb(34, 107, 243);
    color: white;
}

button {
    margin: 10px;
    background-color: var(--color);
    color: var(--pink);
    border-color: antiquewhite;
    align-items: center;
}

/*Form page*/
form {
    background-color: white;
    box-shadow: 1px 1px 8px var(--grey);
    width: 40%;
    margin: 0 auto;
    padding: 1rem;
}

input,
textarea {
    border-radius: 5px;
    width: 50%;
}

input:focus,
textarea:focus {
    background-color: var(--grey);
}

.submit {
    width: 12%;
}

.submit:hover,
.animalimg:hover {
    background-color: rgb(34, 107, 243);
    color: white;
}

/*Tips page*/
.tips {
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 2rem;
}

.popuptext {
    display: inline;
    visibility: hidden;
    background-color: var(--brown);
    color: var(--pink);
    text-align: center;
    border-radius: 6px;
    padding: 15px;
    font-size: large;
    text-shadow: var(--shadow);
}

.popup .show {
    visibility: visible;
    z-index: 1;
    animation: fadeIn 1s;
}

/*Animation: scaling elements*/
@keyframes scaling {
    0% {
        transform: scale(0.5, 0.5);
    }

    50% {
        transform: scale(1, 1);
    }

    100% {
        transform: scale(1.5, 1.5);
    }
}

.table_a {
    animation-name: scaling;
    animation-duration: 3s;
    transition-timing-function: ease-in-out;
    transition-delay: 1s;
}

.our_partner:hover {
    animation-name: scaling;
    animation-duration: 2s;
    transition-timing-function: ease-in-out;
    transition-delay: 1s;
}

/*Animation for submit button*/
@keyframes button {
    0% {
        background-color: var(--color);
        color: var(--pink);
    }

    30% {
        transform: scale(1.5, 1.5);
    }

    100% {
        background-color: white;
        color: black;
        transform: scale(1, 1);
    }
}

.button_a {
    animation-name: button;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    transition-delay: 1s;
}

/*Mobile phone Interface*/
@media (max-width:400px) {
    .our_partner {
        box-sizing: border-box;
        width: 20%;
    }

    .submit {
        width: 50%;
    }

    nav {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        width: 100%;
        gap: 1rem;
    }

    table {
        width: 20%;
    }
}

/*Tablet Interface*/
@media (max-width:800px) {

    .our_partner {
        box-sizing: border-box;
        width: 20%;
        height: 100px;
    }

    .submit {
        width: 50%;
    }

    nav {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        width: 100%;
        gap: 1rem;
    }

    table {
        width: 80%;
    }

}

/*pop-up animation*/
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}